option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: django_app/yummy/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static_root/"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: yummy.settings
    PYTHONPATH: /opt/python/current/app/django_app:$PYTHONPATH
    LANG: "ko_KR.utf8"
    LC_ALL: "ko_KR.UTF-8"
    LC_LANG: "ko_KR.UTF-8"

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python django_app/manage.py collectstatic --noinput"
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python django_app/manage.py migrate --noinput"
    leader_only: true
  04_createsu:
    command: "source /opt/python/run/venv/bin/activate && python django_app/manage.py createsu"
    leader_only: true
  04_createtu:
    command: "source /opt/python/run/venv/bin/activate && python django_app/manage.py createtu"
    leader_only: true

